[Unit]
Description=eBlocker arpread
After=network-online.target
After=redis-server.service
Wants=network-online.target
Wants=redis-server.service

[Service]
Type=simple
ExecStart=/opt/eblocker-network/bin/arp_read eth0
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
